.item {
  width: 400px;
  padding: 20px;
  height: 150px;
  border: 1px solid rgb(138, 126, 37);
}

.title {
  font-size: 14px;
  color: green
}

.vote{
  color: white;
}
.renderBtn{
  width: 120px;
  border: none;
  height: 40px;
  color: rgb(138, 126, 37);

}